1. Analysis of demographic Data

In [1]:
df<-read.csv("P2-Demographic-Data.csv")

In [2]:
nrow(df)

[1] 195

In [3]:
ncol(df)

[1] 5

In [4]:
head(df)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

In [5]:
head(df,n=10)

   Country.Name         Country.Code Birth.rate Internet.users
1  Aruba                ABW          10.244     78.9000
2  Afghanistan          AFG          35.253      5.9000
3  Angola               AGO          45.985     19.1000
4  Albania              ALB          12.877     57.2000
5  United Arab Emirates ARE          11.044     88.0000
6  Argentina            ARG          17.716     59.9000
7  Armenia              ARM          13.308     41.9000
8  Antigua and Barbuda  ATG          16.447     63.4000
9  Australia            AUS          13.200     83.0000
10 Austria              AUT           9.400     80.6188
   Income.Group
1  High income
2  Low income
3  Upper middle income
4  Upper middle income
5  High income
6  High income
7  Lower middle income
8  High income
9  High income
10 High income

In [6]:
tail(df,n=10)

    Country.Name          Country.Code Birth.rate Internet.users
186 Virgin Islands (U.S.) VIR          10.700     45.3
187 Vietnam               VNM          15.537     43.9
188 Vanuatu               VUT          26.739     11.3
189 West Bank and Gaza    PSE          30.394     46.6
190 Samoa                 WSM          26.172     15.3
191 Yemen, Rep.           YEM          32.947     20.0
192 South Africa          ZAF          20.850     46.5
193 Congo, Dem. Rep.      COD          42.394      2.2
194 Zambia                ZMB          40.471     15.4
195 Zimbabwe              ZWE          35.715     18.5
    Income.Group
186 High income
187 Lower middle income
188 Lower middle income
189 Lower middle income
190 Lower middle income
191 Lower middle income
192 Upper middle income
193 Low income
194 Lower middle income
195 Low income

In [7]:
str(df) # facror is the value assigned to categorical data

'data.frame':	195 obs. of  5 variables:
 $ Country.Name  : Factor w/ 195 levels "Afghanistan",..: 8 1 4 2 183 6 7 5 9 10 ...
 $ Country.Code  : Factor w/ 195 levels "ABW","AFG","AGO",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Birth.rate    : num  10.2 35.3 46 12.9 11 ...
 $ Internet.users: num  78.9 5.9 19.1 57.2 88 ...
 $ Income.Group  : Factor w/ 4 levels "High income",..: 1 2 4 4 1 1 3 1 1 1 ...

In [8]:
runif(df)# run in operation if something is correct

[1] 0.08810961 0.88851554 0.04051284 0.20584670 0.27814498

In [9]:
summary(df) # Breakdown of every single col

              Country.Name  Country.Code   Birth.rate    Internet.users
 Afghanistan        :  1   ABW    :  1   Min.   : 7.90   Min.   : 0.90
 Albania            :  1   AFG    :  1   1st Qu.:12.12   1st Qu.:14.52
 Algeria            :  1   AGO    :  1   Median :19.68   Median :41.00
 Angola             :  1   ALB    :  1   Mean   :21.47   Mean   :42.08
 Antigua and Barbuda:  1   ARE    :  1   3rd Qu.:29.76   3rd Qu.:66.22
 Argentina          :  1   ARG    :  1   Max.   :49.66   Max.   :96.55
 (Other)            :189   (Other):189
              Income.Group
 High income        :67
 Low income         :30
 Lower middle income:50
 Upper middle income:48

### use of '$' sign to extract the Information

In [10]:
head(df)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

In [11]:
# ex1: To find the value of 3 row and 3rd col
df[3,3]

[1] 45.985

In [12]:
# Another Method is 
df[3, "Birth.rate"]

[1] 45.985

In [13]:
# $ sign access the data into data frame
df$Birth.rate[3]

[1] 45.985

In [14]:
# Extract the information of a complete Columns 
df$Internet.users

  [1] 78.90000  5.90000 19.10000 57.20000 88.00000 59.90000 41.90000 63.40000
  [9] 83.00000 80.61880 58.70000  1.30000 82.17020  4.90000  9.10000  6.63000
 [17] 53.06150 90.00004 72.00000 57.79000 54.17000 33.60000 95.30000 36.94000
 [25] 51.04000 73.00000 64.50000 29.90000 15.00000  3.50000 85.80000 86.34000
 [33] 66.50000 45.80000  8.40000  6.40000  6.60000 51.70000  6.50000 37.50000
 [41] 45.96000 27.93000 74.10000 65.45480 74.11040 84.17000  9.50000 94.62970
 [49] 45.90000 16.50000 40.35368 29.40000  0.90000 71.63500 79.40000  1.90000
 [57] 91.51440 37.10000 81.91980 27.80000  9.20000 89.84410 43.30000 12.30000
 [65]  1.60000 14.00000  3.10000 16.40000 59.86630 35.00000 65.80000 19.70000
 [73] 65.40000 35.00000 74.20000 17.80000 66.74760 10.60000 72.64390 14.94000
 [81] 15.10000 78.24770 29.95000  9.20000 96.54680 70.80000 58.45930 37.10000
 [89] 41.00000 89.71000 54.00000 39.00000 23.00000  6.80000 11.50000 84.77000
 [97] 75.46000 12.50000 70.50000  3.20000 16.50000 46.20000 93.80000 21.90000
[105]  5.00000 68.45290 93.77650 75.23440 65.80000 56.00000 45.00000  3.00000
[113] 44.10000 43.46000 65.24000  3.50000 68.91380  1.60000 60.31000 20.00000
[121]  5.40000  6.20000 39.00000  5.05000 66.97000 13.90000 66.00000  1.70000
[129] 38.00000 15.50000 93.95640 95.05340 13.30000 82.78000 66.45000 10.90000
[137] 44.03000 39.20000 37.00000  6.50000 62.84920 73.90000 62.09560 36.90000
[145] 56.80000 85.30000 49.76450 67.97000  9.00000 60.50000 22.70000 13.10000
[153] 81.00000  8.00000  1.70000 23.10930  1.50000 51.50000 14.10000 23.00000
[161] 37.40000 77.88260 72.67560 94.78360 24.70000 50.40000 26.20000  2.30000
[169]  4.50000 28.94000 16.00000  9.60000  1.10000 35.00000 63.80000 43.80000
[177] 46.25000  4.40000 16.20000 41.00000 57.69000 84.20000 38.20000 52.00000
[185] 54.90000 45.30000 43.90000 11.30000 46.60000 15.30000 20.00000 46.50000
[193]  2.20000 15.40000 18.50000

In [15]:
# Find out a particular value which exist in row 2 from a col 
df$Internet.users[2]

[1] 5.9

### Use of levels function

In [16]:
# levels function print the factor exist in a column  
levels(df$Income.Group)

[1] "High income"         "Low income"          "Lower middle income"
[4] "Upper middle income"

In [18]:
levels(df$Birth.rate) # Means it is not categorical data

NULL

### ************************************Basic Operation*********************************

In [19]:
# We can perform any operation like in vector and matrix and we will use here subsetting as well 
# ex 1: Print all the values from 1 to 10th row for all column
df[1:10,]

   Country.Name         Country.Code Birth.rate Internet.users
1  Aruba                ABW          10.244     78.9000
2  Afghanistan          AFG          35.253      5.9000
3  Angola               AGO          45.985     19.1000
4  Albania              ALB          12.877     57.2000
5  United Arab Emirates ARE          11.044     88.0000
6  Argentina            ARG          17.716     59.9000
7  Armenia              ARM          13.308     41.9000
8  Antigua and Barbuda  ATG          16.447     63.4000
9  Australia            AUS          13.200     83.0000
10 Austria              AUT           9.400     80.6188
   Income.Group
1  High income
2  Low income
3  Upper middle income
4  Upper middle income
5  High income
6  High income
7  Lower middle income
8  High income
9  High income
10 High income

In [19]:
# Print the values of rows from 3 to 9 
df[3:9, ]

  Country.Name         Country.Code Birth.rate Internet.users
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
7 Armenia              ARM          13.308     41.9
8 Antigua and Barbuda  ATG          16.447     63.4
9 Australia            AUS          13.200     83.0
  Income.Group
3 Upper middle income
4 Upper middle income
5 High income
6 High income
7 Lower middle income
8 High income
9 High income

In [20]:
# Extract Only one row
df[1,,]

  Country.Name Country.Code Birth.rate Internet.users Income.Group
1 Aruba        ABW          10.244     78.9           High income

In [22]:
# Extract The columns 
df[,1:3]

    Country.Name                   Country.Code Birth.rate
1   Aruba                          ABW          10.244
2   Afghanistan                    AFG          35.253
3   Angola                         AGO          45.985
4   Albania                        ALB          12.877
5   United Arab Emirates           ARE          11.044
6   Argentina                      ARG          17.716
7   Armenia                        ARM          13.308
8   Antigua and Barbuda            ATG          16.447
9   Australia                      AUS          13.200
10  Austria                        AUT           9.400
11  Azerbaijan                     AZE          18.300
12  Burundi                        BDI          44.151
13  Belgium                        BEL          11.200
14  Benin                          BEN          36.440
15  Burkina Faso                   BFA          40.551
16  Bangladesh                     BGD          20.142
17  Bulgaria                       BGR           9.200
18  Bahrain                        BHR          15.040
19  Bahamas, The                   BHS          15.339
20  Bosnia and Herzegovina         BIH           9.062
21  Belarus                        BLR          12.500
22  Belize                         BLZ          23.092
23  Bermuda                        BMU          10.400
24  Bolivia                        BOL          24.236
25  Brazil                         BRA          14.931
26  Barbados                       BRB          12.188
27  Brunei Darussalam              BRN          16.405
28  Bhutan                         BTN          18.134
29  Botswana                       BWA          25.267
30  Central African Republic       CAF          34.076
⋮   ⋮                              ⋮            ⋮
166 Seychelles                     SYC          18.600
167 Syrian Arab Republic           SYR          24.043
168 Chad                           TCD          45.745
169 Togo                           TGO          36.080
170 Thailand                       THA          11.041
171 Tajikistan                     TJK          30.792
172 Turkmenistan                   TKM          21.322
173 Timor-Leste                    TLS          35.755
174 Tonga                          TON          25.409
175 Trinidad and Tobago            TTO          14.590
176 Tunisia                        TUN          19.800
177 Turkey                         TUR          16.836
178 Tanzania                       TZA          39.518
179 Uganda                         UGA          43.474
180 Ukraine                        UKR          11.100
181 Uruguay                        URY          14.374
182 United States                  USA          12.500
183 Uzbekistan                     UZB          22.500
184 St. Vincent and the Grenadines VCT          16.306
185 Venezuela, RB                  VEN          19.842
186 Virgin Islands (U.S.)          VIR          10.700
187 Vietnam                        VNM          15.537
188 Vanuatu                        VUT          26.739
189 West Bank and Gaza             PSE          30.394
190 Samoa                          WSM          26.172
191 Yemen, Rep.                    YEM          32.947
192 South Africa                   ZAF          20.850
193 Congo, Dem. Rep.               COD          42.394
194 Zambia                         ZMB          40.471
195 Zimbabwe                       ZWE          35.715

In [23]:
#In matrix if we extart one row it become vector 
#Lets have a look on Matrix First
# Take the data
data<-c(10:29)
data
# Create The Matrix
mat1<-matrix(data,4,5)
mat1
is.matrix(mat1)

mat2<-mat1[1,]
mat2
is.vector(mat2)
is.matrix(mat2)

 [1] 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

     [,1] [,2] [,3] [,4] [,5]
[1,] 10   14   18   22   26
[2,] 11   15   19   23   27
[3,] 12   16   20   24   28
[4,] 13   17   21   25   29

[1] TRUE

[1] 10 14 18 22 26

[1] TRUE

[1] FALSE

In [24]:
# but in data frame if we extract one row it remain data frame  So In Matrix we are extracting one row it is becoming vectror but not in data frame 
# let see 
df[1,]
is.vector(df[1,])
is.data.frame(df[1,])

  Country.Name Country.Code Birth.rate Internet.users Income.Group
1 Aruba        ABW          10.244     78.9           High income

[1] FALSE

[1] TRUE

In [15]:
#But we are extracting col from a data frame it becomes vector 
#Extarct only first col from data frame 
df[,1]
is.data.frame(df[,1])
is.data.frame(df[,1,drop=F]) # Use drop =f Such that data frame remain data frame

  [1] Aruba                          Afghanistan
  [3] Angola                         Albania
  [5] United Arab Emirates           Argentina
  [7] Armenia                        Antigua and Barbuda
  [9] Australia                      Austria
 [11] Azerbaijan                     Burundi
 [13] Belgium                        Benin
 [15] Burkina Faso                   Bangladesh
 [17] Bulgaria                       Bahrain
 [19] Bahamas, The                   Bosnia and Herzegovina
 [21] Belarus                        Belize
 [23] Bermuda                        Bolivia
 [25] Brazil                         Barbados
 [27] Brunei Darussalam              Bhutan
 [29] Botswana                       Central African Republic
 [31] Canada                         Switzerland
 [33] Chile                          China
 [35] Cote d'Ivoire                  Cameroon
 [37] Congo, Rep.                    Colombia
 [39] Comoros                        Cabo Verde
 [41] Costa Rica                     Cuba
 [43] Cayman Islands                 Cyprus
 [45] Czech Republic                 Germany
 [47] Djibouti                       Denmark
 [49] Dominican Republic             Algeria
 [51] Ecuador                        Egypt, Arab Rep.
 [53] Eritrea                        Spain
 [55] Estonia                        Ethiopia
 [57] Finland                        Fiji
 [59] France                         Micronesia, Fed. Sts.
 [61] Gabon                          United Kingdom
 [63] Georgia                        Ghana
 [65] Guinea                         Gambia, The
 [67] Guinea-Bissau                  Equatorial Guinea
 [69] Greece                         Grenada
 [71] Greenland                      Guatemala
 [73] Guam                           Guyana
 [75] Hong Kong SAR, China           Honduras
 [77] Croatia                        Haiti
 [79] Hungary                        Indonesia
 [81] India                          Ireland
 [83] Iran, Islamic Rep.             Iraq
 [85] Iceland                        Israel
 [87] Italy                          Jamaica
 [89] Jordan                         Japan
 [91] Kazakhstan                     Kenya
 [93] Kyrgyz Republic                Cambodia
 [95] Kiribati                       Korea, Rep.
 [97] Kuwait                         Lao PDR
 [99] Lebanon                        Liberia
[101] Libya                          St. Lucia
[103] Liechtenstein                  Sri Lanka
[105] Lesotho                        Lithuania
[107] Luxembourg                     Latvia
[109] Macao SAR, China               Morocco
[111] Moldova                        Madagascar
[113] Maldives                       Mexico
[115] Macedonia, FYR                 Mali
[117] Malta                          Myanmar
[119] Montenegro                     Mongolia
[121] Mozambique                     Mauritania
[123] Mauritius                      Malawi
[125] Malaysia                       Namibia
[127] New Caledonia                  Niger
[129] Nigeria                        Nicaragua
[131] Netherlands                    Norway
[133] Nepal                          New Zealand
[135] Oman                           Pakistan
[137] Panama                         Peru
[139] Philippines                    Papua New Guinea
[141] Poland                         Puerto Rico
[143] Portugal                       Paraguay
[145] French Polynesia               Qatar
[147] Romania                        Russian Federation
[149] Rwanda                         Saudi Arabia
[151] Sudan                          Senegal
[153] Singapore                      Solomon Islands
[155] Sierra Leone                   El Salvador
[157] Somalia                        Serbia
[159] South Sudan                    Sao Tome and Principe
[161] Suriname                       Slovak Republic
[163] Slovenia                       Sweden
[165] Swaziland                      Seychelles
[167] Syrian Arab Republic           Chad
[169] Togo                           Thailand
[171] Tajikistan                     Turkmenistan
[173] Timor-Leste                    Tonga
[175] Trinidad and Tobago            Tunisia
[177] Turkey                         Tanzania
[179] Uganda                         Ukraine
[181] Uruguay                        United States
[183] Uzbekistan                     St. Vincent and the Grenadines
[185] Venezuela, RB                  Virgin Islands (U.S.)
[187] Vietnam                        Vanuatu
[189] West Bank and Gaza             Samoa
[191] Yemen, Rep.                    South Africa
[193] Congo, Dem. Rep.               Zambia
[195] Zimbabwe
195 Levels: Afghanistan Albania Algeria Angola Antigua and Barbuda ... Zimbabwe

[1] FALSE

[1] TRUE

### Arithmatic Operation

In [25]:
df$Birth.rate * df$Internet.users

  [1]  808.2516  207.9927  878.3135  736.5644  971.8720 1061.1884  557.6052
  [8] 1042.7398 1095.6000  757.8167 1074.2100   57.3963  920.3062  178.5560
 [15]  369.0141  133.5415  488.1658 1353.6006 1104.4080  523.6930  677.1250
 [22]  775.8912  991.1200  895.2778  762.0782  889.7240 1058.1225  542.2066
 [29]  379.0050  119.2660  935.2200  880.6680  890.1025  554.1800  313.4880
 [36]  238.3104  244.2726  831.1292  223.1190  810.9375  690.4111  290.4720
 [43]  926.2500  748.5411  755.9261  715.4450  242.1170  946.2970  972.9882
 [50]  408.1770  850.2521  824.1408   31.3200  651.8785  817.8200   62.5575
 [57]  979.2041  759.1773 1007.6135  653.6058  281.1060 1096.0980  577.2756
 [64]  407.5113   59.7392  595.3500  116.2593  579.9368  508.8636  676.6900
 [71]  954.1000  541.0605 1137.2406  660.9750  586.1800  384.3554  627.4274
 [78]  268.6570  668.3239  303.2372  306.3941 1173.7155  536.1050  286.0556
 [85] 1293.7271 1508.0400  496.9040  502.3340 1108.8860  735.6220 1227.4200
 [92] 1372.5660  625.6000  166.3416  334.0060  729.0220 1552.5895  338.1375
 [99]  946.5330  113.6672  353.5125  712.8660  862.9600  391.1997  143.6900
[106]  691.3743 1059.6744  767.3909  740.6448 1177.2880  546.3450  104.0580
[113]  945.8127  830.2598  732.1233  154.4830  654.6811   28.9904  700.5610
[120]  485.5000  214.4070  209.5662  425.1000  199.2680 1125.4308  416.1243
[127] 1122.0000   84.4237 1521.7100  322.2140  958.3553 1102.6194  278.2759
[134] 1086.0736 1356.8426  322.4438  866.5104  791.7616  880.2300  187.8435
[141]  603.3523  798.1200  490.5552  796.5972  931.1224 1018.4820  437.9276
[148]  897.2040  294.2010 1244.8480  759.9279  504.7823  753.3000  244.6240
[155]   62.4393  403.8581   65.8365  473.8000  523.4766  794.3510  690.2170
[162]  786.6143  741.2911 1118.4465  743.2971  937.4400  629.9266  105.2135
[169]  162.3600  319.5265  492.6720  204.6912   39.3305  889.3150  930.8420
[176]  867.2400  778.6650  173.8792  704.2788  455.1000  829.2361 1052.5000
[183]  859.5000  847.9120 1089.3258  484.7100  682.0743  302.1507 1416.3604
[190]  400.4316  658.9400  969.5250   93.2668  623.2534  660.7275

### Adding a Col into data frame

In [26]:
# Adding an extra col 
df$My_Col<-df$Birth.rate * df$Internet.users
head(df)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group        My_Col
1 High income          808.2516
2 Low income           207.9927
3 Upper middle income  878.3135
4 Upper middle income  736.5644
5 High income          971.8720
6 High income         1061.1884

In [27]:
df$xyz<-1:5 # as 1:5 is a multiple of total rows 195 so here vector recycing is happening with out any prob but we take 1:4 then there 
# will be an error bcz vector recyling will not get happen 

head(df)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group        My_Col    xyz
1 High income          808.2516 1
2 Low income           207.9927 2
3 Upper middle income  878.3135 3
4 Upper middle income  736.5644 4
5 High income          971.8720 5
6 High income         1061.1884 1

### Removing a col

In [32]:
df$xyz<-NULL
df$My_Col<-NULL
head(df)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

### Filtering a data Frame

In [7]:
#Ex:1 Which are Countries have less then 2 % of internet user in data frame

In [33]:
head(df)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

In [34]:
df$Internet.users < 2 # In the below out put True values shows the countires which have less then 2 % of Internet user

  [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
 [13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [49] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
 [61] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [73] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [85] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [97] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[109] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
[121] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[133] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[145] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[157]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[169] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[181] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[193] FALSE FALSE FALSE

As this is the vector having value T/F Let assing to the Object let say Filter

In [35]:
filter<-df$Internet.users < 2
df[filter,]

# Now this below table showing all the countries which are having internet user less then 2 %

    Country.Name Country.Code Birth.rate Internet.users Income.Group
12  Burundi      BDI          44.151     1.3            Low income
53  Eritrea      ERI          34.800     0.9            Low income
56  Ethiopia     ETH          32.925     1.9            Low income
65  Guinea       GIN          37.337     1.6            Low income
118 Myanmar      MMR          18.119     1.6            Lower middle income
128 Niger        NER          49.661     1.7            Low income
155 Sierra Leone SLE          36.729     1.7            Low income
157 Somalia      SOM          43.891     1.5            Low income
173 Timor-Leste  TLS          35.755     1.1            Lower middle income

In [36]:
# Ex 2: Find out the countries where Birth Rate is more then 40 
BR_Filter <- df$Birth.rate > 40
df[BR_Filter,]

    Country.Name     Country.Code Birth.rate Internet.users Income.Group
3   Angola           AGO          45.985     19.1           Upper middle income
12  Burundi          BDI          44.151      1.3           Low income
15  Burkina Faso     BFA          40.551      9.1           Low income
66  Gambia, The      GMB          42.525     14.0           Low income
116 Mali             MLI          44.138      3.5           Low income
128 Niger            NER          49.661      1.7           Low income
129 Nigeria          NGA          40.045     38.0           Lower middle income
157 Somalia          SOM          43.891      1.5           Low income
168 Chad             TCD          45.745      2.3           Low income
179 Uganda           UGA          43.474     16.2           Low income
193 Congo, Dem. Rep. COD          42.394      2.2           Low income
194 Zambia           ZMB          40.471     15.4           Lower middle income

In [15]:
# In short way we can do it as below 
df[df$Birth.rate > 40,]

    Country.Name     Country.Code Birth.rate Internet.users Income.Group
3   Angola           AGO          45.985     19.1           Upper middle income
12  Burundi          BDI          44.151      1.3           Low income
15  Burkina Faso     BFA          40.551      9.1           Low income
66  Gambia, The      GMB          42.525     14.0           Low income
116 Mali             MLI          44.138      3.5           Low income
128 Niger            NER          49.661      1.7           Low income
129 Nigeria          NGA          40.045     38.0           Lower middle income
157 Somalia          SOM          43.891      1.5           Low income
168 Chad             TCD          45.745      2.3           Low income
179 Uganda           UGA          43.474     16.2           Low income
193 Congo, Dem. Rep. COD          42.394      2.2           Low income
194 Zambia           ZMB          40.471     15.4           Lower middle income

In [37]:
#Ex 3 Countries where Birth rate more then 40 and Internet user less then 2 
# Alternate Method
df[df$Birth.rate > 40 & df$Internet.users < 2,]

    Country.Name Country.Code Birth.rate Internet.users Income.Group
12  Burundi      BDI          44.151     1.3            Low income
128 Niger        NER          49.661     1.7            Low income
157 Somalia      SOM          43.891     1.5            Low income

In [38]:
#Ex 4 find the Countries with high Income Group 
levels(df$Income.Group) # To Check The levels

[1] "High income"         "Low income"          "Lower middle income"
[4] "Upper middle income"

In [39]:
df[df$Income.Group=="High income",]

    Country.Name          Country.Code Birth.rate Internet.users Income.Group
1   Aruba                 ABW          10.244     78.90000       High income
5   United Arab Emirates  ARE          11.044     88.00000       High income
6   Argentina             ARG          17.716     59.90000       High income
8   Antigua and Barbuda   ATG          16.447     63.40000       High income
9   Australia             AUS          13.200     83.00000       High income
10  Austria               AUT           9.400     80.61880       High income
13  Belgium               BEL          11.200     82.17020       High income
18  Bahrain               BHR          15.040     90.00004       High income
19  Bahamas, The          BHS          15.339     72.00000       High income
23  Bermuda               BMU          10.400     95.30000       High income
26  Barbados              BRB          12.188     73.00000       High income
27  Brunei Darussalam     BRN          16.405     64.50000       High income
31  Canada                CAN          10.900     85.80000       High income
32  Switzerland           CHE          10.200     86.34000       High income
33  Chile                 CHL          13.385     66.50000       High income
43  Cayman Islands        CYM          12.500     74.10000       High income
44  Cyprus                CYP          11.436     65.45480       High income
45  Czech Republic        CZE          10.200     74.11040       High income
46  Germany               DEU           8.500     84.17000       High income
48  Denmark               DNK          10.000     94.62970       High income
54  Spain                 ESP           9.100     71.63500       High income
55  Estonia               EST          10.300     79.40000       High income
57  Finland               FIN          10.700     91.51440       High income
59  France                FRA          12.300     81.91980       High income
62  United Kingdom        GBR          12.200     89.84410       High income
68  Equatorial Guinea     GNQ          35.362     16.40000       High income
69  Greece                GRC           8.500     59.86630       High income
71  Greenland             GRL          14.500     65.80000       High income
73  Guam                  GUM          17.389     65.40000       High income
75  Hong Kong SAR, China  HKG           7.900     74.20000       High income
⋮   ⋮                     ⋮            ⋮          ⋮              ⋮
96  Korea, Rep.           KOR           8.600     84.7700        High income
97  Kuwait                KWT          20.575     75.4600        High income
103 Liechtenstein         LIE           9.200     93.8000        High income
106 Lithuania             LTU          10.100     68.4529        High income
107 Luxembourg            LUX          11.300     93.7765        High income
108 Latvia                LVA          10.200     75.2344        High income
109 Macao SAR, China      MAC          11.256     65.8000        High income
117 Malta                 MLT           9.500     68.9138        High income
127 New Caledonia         NCL          17.000     66.0000        High income
131 Netherlands           NLD          10.200     93.9564        High income
132 Norway                NOR          11.600     95.0534        High income
134 New Zealand           NZL          13.120     82.7800        High income
135 Oman                  OMN          20.419     66.4500        High income
141 Poland                POL           9.600     62.8492        High income
142 Puerto Rico           PRI          10.800     73.9000        High income
143 Portugal              PRT           7.900     62.0956        High income
145 French Polynesia      PYF          16.393     56.8000        High income
146 Qatar                 QAT          11.940     85.3000        High income
148 Russian Federation    RUS          13.200     67.9700        High income
150 Saudi Arabia          SAU          20.576     60.5000        High income
153 Singapore             SGP           9.300     81.0000        High income
162 Slovak Republic       SVK          10.100     77.8826        High income
163 Slovenia              SVN          10.200     72.6756        High income
164 Sweden                SWE          11.800     94.7836        High income
166 Seychelles            SYC          18.600     50.4000        High income
175 Trinidad and Tobago   TTO          14.590     63.8000        High income
181 Uruguay               URY          14.374     57.6900        High income
182 United States         USA          12.500     84.2000        High income
185 Venezuela, RB         VEN          19.842     54.9000        High income
186 Virgin Islands (U.S.) VIR          10.700     45.3000        High income

In [40]:
#Ex Find all the Information about contry Malta
df[df$Country.Name=='Malta',]

    Country.Name Country.Code Birth.rate Internet.users Income.Group
117 Malta        MLT          9.5        68.9138        High income